{% if site.github %}
<a href="https://github.com/{{site.github}}" target="_blank" style="text-decoration:none">
<i class="fa fa-fw fa-github"></i>
</a>
{% endif %}
{% if site.twitter %}
<a href="https://www.twitter.com/{{ site.twitter }}" target="_blank" style="text-decoration:none">
<i class="fa fa-fw fa-twitter"></i>
</a>
{% endif %}
{% if site.linkedin %}
<a href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank" style="text-decoration:none">
<i class="fa fa-fw fa-linkedin"></i>
</a>
{% endif %}
{% if site.instagram %}
<a href="https://instagram.com/{{ site.instagram }}" target="_blank" style="text-decoration:none">
<i class="fa fa-fw fa-instagram"></i>
</a>
{% endif %}
{% if site.stackoverflow %}
<a href="http://stackoverflow.com/{{ site.stackoverflow }}" target="_blank" style="text-decoration:none">
<i class="fa fa-fw fa-stackoverflow"></i>
</a>
{% endif %}